<!--<section class="w-full flex flex-col justify-center my-10 mx-auto">-->
<!--    <h1 class="accent-amber-400 text-center">Hello</h1>-->

<!--    <div class="px-16">-->
<!--        <app-stepper-->
<!--            [steps]="[-->
<!--                { label: 'Propozycja usprawnienia', component: form1, form: stepGroup1 },-->
<!--                { label: 'Obecne analizy', component: form2, form: null }-->
<!--            ]"-->
<!--        ></app-stepper>-->
<!--    </div>-->
<!--</section>-->

<ul class="pt-8 px-16 w-full">
    <li class="w-full gap-8 flex flex-row flex-wrap items-center">
        <button mat-raised-button color="primary" class="h-40 w-40 font-bold text-xl">Monitoring</button>
        <button mat-raised-button color="primary" class="h-40 w-40 font-bold text-xl" (click)="redirectToCreatePracticeOffer()">Przejdź do oferty</button>
        <button mat-raised-button color="primary" class="h-40 w-40 font-bold text-xl" (click)="szczal()">szczal</button>
        <button mat-raised-button color="primary" class="h-40 w-40 font-bold text-xl" (click)="defaultPage()">default</button>
    </li>
</ul>

<!--<ng-template #form1>-->
<!--    <form [formGroup]="stepGroup1" class="flex gap-8">-->
<!--        <mat-form-field>-->
<!--            <mat-label>Tytuł</mat-label>-->
<!--            <input type="text" matInput formControlName="title" placeholder="Tytuł" autocomplete="off" />-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--            <mat-label>Opis</mat-label>-->
<!--            <input type="text" matInput formControlName="description" placeholder="Opis" autocomplete="off" />-->
<!--        </mat-form-field>-->
<!--    </form>-->
<!--</ng-template>-->

<!--<ng-template #form2>-->
<!--    <ng-container *ngIf="tableData.length">-->
<!--        <app-table [setColumns]="tableColumns" [data]="tableData"></app-table>-->
<!--    </ng-container>-->
<!--</ng-template>-->
<div class="bg-amber-300 h-full w-full">
    <router-outlet></router-outlet>
</div>

<!--<app-widget-wrapper [header]="'Header for widget'">-->

<!--    <app-chart #componentRef></app-chart>-->
<!--</app-widget-wrapper>-->
